* {
    font-family: 'jakartaSansRegular';
}

body {
    font-size: 16px;
}

#page1 {
    margin-top: 100px;
}


/* font styling */
#page1 .right h4 {
    font-family: 'jakartaSansBold';
}

#page1 .right p:nth-child(2),
#page1 .right p:nth-child(7) {
    font-family: 'jakartaSansSemiBold';
}

#page1 .left .more-img img {
    width: 32%;
}

#page1 .right {
    background: rgba(174, 241, 97, .15);
    padding: 20px;
}

#page1 .right p {
    margin-bottom: 10px;
}


#page1 .right .kategori {
    width: 105px;
    border-radius: 5px;
    text-align: center;
    height: 30px;
}

#page1 .right .kategori4 {
    border: 1px solid #E56721;
    color: rgb(225, 81, 1);
    background: rgba(255, 81, 1, .1);
}

#page1 .right .kategori span {
    font-size: .7em;
}

#page1 .right button {
    width: 100%;
    padding: 15px;
    margin: 25px 0;
    font-family: 'jakartaSansBold';
    border: none;
    border-radius: 10px;
    background-color: #AEF161;
}

#page1 .right .button2 {
    background: transparent;
    color: #7E9C5C;
    border: 1px solid #7E9C5C;
}


#page2 p.deskripsi,
#page2 p.kebutuhan,
#page2 p.para-relawan {
    font-family: 'jakartaSansSemiBold';
    font-size: .95em;
    color: black;
}

#page2 p,
#page2 ul li {
    color: #999;
}

#page2 p:nth-child(6),
#page2 p:nth-child(8),
#page2 p:nth-child(10) {
    margin: 0;
}