* {
    font-family: 'jakartaSansRegular';
}

nav,
main {
    padding: 0 120px;
}

.navbar .judul h5 {
    font-family: 'jakartaSansBold';
    color: black;
}

.navbar .judul a {
    text-decoration: none;
}

.navbar>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigasi ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigasi ul li {
    list-style: none;
    margin: 0 15px;
}

.navigasi ul li a {
    text-decoration: none;
    color: black;
    opacity: .6;
    font-family: 'jakartaSansSemiBold';
    font-size: .9em;

}

.navigasi ul li a:hover {
    color: #0DB51D;
}

.akun button:first-child {
    background-color: transparent;
}


.akun button {
    width: 90px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.akun button a {
    text-decoration: none;
    color: black;
}

.akun p {
    margin: 0;
    font-size: .9em;
    margin-left: 10px;
    font-family: 'jakartaSansSemiBold';
}